


<style> /* Este é o início da seção de estilos CSS, que é responável por definir como os elementos HTML serão estilizados. */


body {  /*Aqui é onde serão definindos os estilos para alguns dos elementos do <body>, que é o elemento principal da página HTML. */

    font-family: 'Trebuchet MS', sans-serif; /*Esse é o comando que define qual será o estilo da fonte para a página. 
    Nesse caso, a fonte escolhida foi a 'Trebuchet MS', que não possui serifa, 'sans-serif'. */

    background-color: #242222; /*Define qual será a cor das bordas que ficam ao redor da caixa que contém o texto,
    a imagem e as opções. Aqui, a cor escolhida foi cinza escuro, que é representada pelo código '#242222'*/

    margin: 2vw; /* Cria uma margem de 2.5vw ao redor da caixa principal, deixando uma margem entre 
    a imagem do fundo e a borda da tela. O 'vw' (viewport width) é uma unidade de medida que representa a largura
    da janela de visualização. O valor de 1vw é igual a 1% da largura da janela de visualização. 
    Ele tem a capacidade de ajustar o tamanho do elemento de acordo com o tamanho da tela,
    o que deixa o jogo mais responsivo.*/
}



#jogo-container {  /* Este seletor é responsável por definir os estilos para o elemento HTML com o atributo 'id''jogo-container'. */

    color: #ffffff;  /* Define a cor do texto como branca ('#fffff'). */
    
    padding: 0.1vw;   /*Define uma quantidade de espaço padão entre a imagem e a borda da caixa, nesse caso, 0.1vw. */

    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.74);  /*  Cria uma sombra ao redor do texto para dar um pequeno destaque entre
    o texto e a caixa de texto. Essa sombra tem um deslocamento horizontal e vertical de 0.2vw, um raio de 0.4vw e 
    é semitransparente (rgba(0, 0, 0, 0.74)). */

    background-size: cover; /* Define o tamanho para a imagem de fundo, nesse caso, está configurado para 
    que a imagem ocupe todo o espaço da tela (cover). */

    background-color: #000000;  /* Define qual será a cor do fundo da página quando nenhuma imagem está sendo exibida. 
    Aqui, a cor escolhida foi preto, que é representada pelo código '#000000' */

    background-repeat: no-repeat;  /* Faz com que a imagem de fundo não se repita. */

    min-height: 100vh;  /* Faz com que a imagem ocupe toda a altura da tela (por isso o 100). O vh (Viewport Height) é muito semelhante ao 
    vw, a diferença é que um define a alutura e o outro, a largura.  */

    overflow: auto;  /* Faz com que seja possível fazer a rolagem da página para ver o restante do contéudo
    quando o mesmo ultrapassa o tamanho da tela. */

    border-radius: 2vw; /* Isso aqui é a coisa mais importante de todo o código do jogo (rsrs). É ele quem deixa a borda
    dos elementos arredondadas, dando um "tchan" no visual. Aqui, a borda foi definida para 2vw. */
}



button {  /* Estilização dos botões: */
  
    background-color: #242222; /* Define qual será a cor dos botões, nesse caso, cinza escuro ('#242222') */

    color: #ffffff; /* Define a cor do texto dos botões como branco. */

    padding: 2vw 8vh; /* Define qual vai ser a distância entre o texto interno e a borda do botão, tanto
    na horizontal quanto na vertical. */

    border: none; /* Remove a borda dos botões, deixando-os mais cleans. */

    cursor: pointer; /* Faz com que a seta do mouse se torne uma mão ao passar por cima dos botões. */ 

    display: block; /* Coloca os botões na coluna vertical. */ 

    margin: auto; /* Centaliza os botões na página automaticamente, sem isso, os botões ficariam pelos cantos. */

    margin-bottom: 2vw; /* Faz com que os botões tenham uma margem de distância entre eles,
    sem isso, eles ficariam "colados". */

    font-size: 1vw; /* Define qual será o tamanho da fonte do texto dos botões. */ 

    border-radius: 3vw; /* Novamente, Ele: o comando que deixa tudo mais bonito (arredonda a borda dos botões). */
}



button:hover {
    background-color: #a80707; /* Faz com que a cor dos botões mude para vermelho quando o mouse
    é passado por cima dos mesmos. */
}



#narrativa { /* Seletor responsável por definir os estilos para o elemento HTML com o atributo
     'id''narrativa'. */

    margin-bottom: 5vh; /* Adiciona uma margem entre a caixa de texto e o primeiro botão abaixo dela. */

    margin-top: 2vw ;  /* Adiciona uma margem entre o topo da pagina e a caixa de texto.*/

    margin-left: 5vw; /* Adiciona uma margem entre a lateral esquerda e a caixa de texto.*/

    margin-right: 5vw; /*Adiciona uma margem entre a lateral direita e a caixa de texto.*/

    font-size: 2vw; /* Define o tamanho da fonte do texto. */

    background-color: #242222c0; /* Define a cor da caixa de texto. */ 

    padding: 4vw; /* Define uma margem entre o texto e as bordas da caixa de texto. */

    border-radius: 3vw;  /* Deixa a borda arredondada. */

    display: flex; /* Define a caixa de texto como um container flexível, o que possibilita 
    controlar a disposção do texto dentro dela de acordo com o tamanho da tela do navegador. */ 

    justify-content: center; /* Centraliza o texto na horizontal dentro da caixa de texto. */
}



#narrativa:empty { 
    display: none; /* Esconde a caixa de texto quando não existe um texto.*/
}



/* Essas são algumas regras para deixar o jogo responsivo em diferentes tamanhos de tela. */

@media screen and (max-width: 768px) { /* Essas especificações são executadas quando a tela 
    tem no máximo 768px de largura. A escolha de 768 pixels de largura como ponto de quebra é uma convenção
    comum em designs responsivos para dispositos com telas menores, como tablets e celulares. */

    

    button { /* Novo estilo dos botões: */

        padding: 6vw 10vw; /* Define a distância entre o texto interno e a borda do botão. */

        font-size: 3.5vw; /* Define o tamanho da fonte dos botões.*/

        margin-bottom: 5vw; /* Define a distância entre os botões. */

        border-radius: 12vw; /* Arredonda as boradas. */
    }


    
    #narrativa { /* Novo estilo para os elementos da narrativa: */

        margin-bottom: 5vh; /* Define a margem entre o texto e as opções. */

        margin-top: 3vw ;  /* Adiciona uma margem entre o topo da pagina e a caixa de texto.*/

        margin-left: 4vw; /* Adiciona uma margem entre a lateral esquerda e a caixa de texto.*/

        margin-right: 4vw; /*Adiciona uma margem entre a lateral direita e a caixa de texto.*/

        font-size: 5vw; /* Define o tamanho da fonte do texto. */

        padding: 6vw;  /* Define uma margem entre o texto e as bordas da caixa de texto. */
    }
}


</style> /*Fim do CSS.*/


