/* Este é o início da seção de estilos CSS, que é responável por definir como os elementos HTML serão estilizados. */
body {  /*Aqui é onde serão definindos os estilos para alguns dos elementos do <body>, que é o elemento principal da página HTML. */

            background-color: #ffffff; /*Define qual será a cor das bordas que ficam ao redor da caixa que contém o texto,
            a imagem e as opções. Aqui, a cor escolhida foi cinza escuro, que é representada pelo código '#242222'*/
        
            margin: 00px; /* Cria uma margem ao redor da caixa principal, deixando uma margem entre
            a imagem do fundo e a borda da tela. O 'vw' (viewport width) é uma unidade de medida que representa a largura
            da janela de visualização. O valor de 1vw é igual a 1% da largura da janela de visualização.
            Ele tem a capacidade de ajustar o tamanho do elemento de acordo com o tamanho da tela,
            o que deixa o jogo mais responsivo.*/
        }
                
        
        #jogo-container {  /* Este seletor é responsável por definir os estilos para o elemento HTML com o atributo 'id''jogo-container'. */
        
            color: #ffffff;  /* Define a cor do texto como branca ('#fffff'). */
            padding: 1px;   /*Define uma quantidade de espaço padão entre a imagem e a borda da caixa, nesse caso, 0.1vw. */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.74);  /*  Cria uma sombra ao redor do texto para dar um pequeno destaque entre o texto e a caixa de texto. Essa sombra tem um deslocamento horizontal e vertical de 0.2vw, um raio de 0.4vw e é semitransparente (rgba(0, 0, 0, 0.74)). */        
            background-size: cover; /* Define o tamanho para a imagem de fundo, nesse caso, está configurado para que a imagem ocupe todo o espaço da tela (cover). */        
            background-color: #000000;  /* Define qual será a cor do fundo da página quando nenhuma imagem está sendo exibida. Aqui, a cor escolhida foi preto, que é representada pelo código '#000000' */        
            background-repeat: no-repeat;  /* Faz com que a imagem de fundo não se repita. */        
            min-height: 100vh;  /* Faz com que a imagem ocupe toda a altura da tela (por isso o 100). O vh (Viewport Height) é muito semelhante ao vw, a diferença é que um define a alutura e o outro, a largura.  */        
            overflow: auto;  /* Faz com que seja possível fazer a rolagem da página para ver o restante do contéudo quando o mesmo ultrapassa o tamanho da tela. */        
            border-radius: 0vw; /*  É ele quem deixa a bordados elementos arredondadas, dando um "tchan" no visual. */
        }
                
        
        button {  /* Estilização dos botões: */
            background-color: #600000; /* aqui a cor do quadradinho do botão */ 
            color: rgb(255, 255, 255); /* essas serão as cores das letras dentro do botão */
            padding: 10px 20px; /* este é para definir o espaço entre o conteúdo de dentro e as bordas internas do quadradinho */
            border: none; /* border é usado para definir a borda do elemento, mas, como o seu valor é "none", não hverá bordas */
            cursor: pointer; /* o comando define o cursor como uma mãozinha quando o mouse está sobre o botão clicavel */
            display: block; /* este sere para exibir os botões em uma nova linha, toma a linha inteira, ao invés de ser um ao lado do outro */
            margin: auto; /* centraliza horizontalmente */
            margin-bottom: 5px; /* define a margem inferior do elemento */      
            font-size: 17px; /* Define qual será o tamanho da fonte do texto dos botões. */
            border-radius: 17px; /* Novamente, Ele: o comando que deixa tudo mais bonito (arredonda a borda dos botões). */
        }
                
        
        button:hover {
            background-color: #800000; /* Faz com que a cor dos botões mude para vermelho quando o mouse é passado por cima dos mesmos. */
        }
                
        
        #narrativa { /* Seletor responsável por definir os estilos para o elemento HTML com o atributo'id''narrativa'. */        
            justify-content: center; /* Centraliza o texto na horizontal dentro da caixa de texto. */
            text-align: center; /* comando para centralizar o texto da narrativa */
            margin-bottom: 20px; /* adiciona um espaço entre o texto e os botões */
            margin-top: 220px; /* adiciona espaço na parte superior do contêiner */
            margin-left: 250px; /* adiciona espaço na parte superior do contêiner */
            margin-right: 250px; /* adiciona espaço na parte superior do contêiner */            
            font-size: 35px; /* tamanho da fonte do texto da historia */        
            background-color:  rgba(0, 0, 0, 0.5); /* Define a cor da caixa de texto. */        
            padding: 20px; /* Define uma margem entre o texto e as bordas da caixa de texto. */        
            border-radius: 25px;  /* Deixa a borda arredondada. */        
            display: flex; /* Define a caixa de texto como um container flexível, o que possibilita controlar a disposção do texto dentro dela de acordo com o tamanho da tela do navegador. */
        }
        
                
        #narrativa:empty {
            display: none; /* Esconde a caixa de texto quando não existe um texto.*/
        }
        
                
        /* Essas são algumas regras para deixar o jogo responsivo em diferentes tamanhos de tela. */
        
        @media screen and (max-width: 768px) { /* Essas especificações são executadas quando a tela
            tem no máximo 768px de largura. A escolha de 768 pixels de largura como ponto de quebra é uma convenção
            comum em designs responsivos para dispositos com telas menores, como tablets e celulares. */
        
        
        
            button { /* Novo estilo dos botões: */
        
                padding: 6vw 10vw; /* Define a distância entre o texto interno e a borda do botão. */        
                font-size: 3.5vw; /* Define o tamanho da fonte dos botões.*/        
                margin-bottom: 5vw; /* Define a distância entre os botões. */        
                border-radius: 12vw; /* Arredonda as boradas. */
            }        
        
        
        #narrativa { 
            text-align: center; /* comando para centralizar o texto da narrativa */
            margin-bottom: 20px; /* adiciona um espaço entre o texto e os botões */
            margin-top: 220px; /* adiciona espaço na parte superior do contêiner */
            margin-left: 250px; /* adiciona espaço na parte superior do contêiner */
            margin-right: 250px; /* adiciona espaço na parte superior do contêiner */
            font-size: 35px; /* tamanho da fonte do texto da historia */
            background-color: rgba(0, 0, 0, 0.5); /* adicione a cor de fundo com transparência aqui */
            padding: 20px; /* adiciona espaço interno para distanciar o texto das bordas do gradiente */   
        }
        }
        


